<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Grocery
    </ion-title>
  </ion-toolbar>
</ion-header>

<div *ngIf="(groceries | async)?.length === 0" id="allDone">
  <h3>
    You're all done!
  </h3>
  <h3>
    Need something else? Add something to your list!
  </h3>
</div>

  <ion-content [scrollY]="true">
    <cdk-virtual-scroll-viewport itemSize="56" minBufferPx="900" maxBufferPx="1350" class="ion-content-scroll-host">
      <ion-list #groceryList>
        <ion-item-sliding #listItem *cdkVirtualFor="let grocery of groceries; let i = index">
          <ion-item>
            <div>
              <h2>{{grocery.name}}</h2>
              <p>{{grocery.quantity}}</p>
            </div>
          </ion-item>
          <ion-item-options>
            <ion-item-option side="end" color="success">
              <ion-button (click)="editItem(grocery, i, listItem)" fill="clear" color="dark">
                <div>
                  <ion-icon name="create"></ion-icon>
                  <br>
                  <ion-text>Edit</ion-text>
                </div>
              </ion-button>
            </ion-item-option>

            <ion-item-option side="end" color="primary">
              <ion-button (click)="shareItem(grocery, i, listItem)" fill="clear" color="dark">
                <div>
                  <ion-icon name="share"></ion-icon>
                  <br>
                  <ion-text>Share</ion-text>
                </div>
              </ion-button>
            </ion-item-option>

            <ion-item-option color="danger" side="end">
              <ion-button (click)="removeItem(grocery, i, listItem)" fill="clear" color="dark">
                <div>
                  <ion-icon name="trash-outline"></ion-icon>
                  <br>
                  <ion-text>Delete</ion-text>
                </div>
              </ion-button>
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>
    </cdk-virtual-scroll-viewport>
    
    <ion-fab slot="fixed" vertical="bottom" horizontal="end">
      <ion-fab-button (click)="addItem()">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </ion-content>
  
